<mat-toolbar color="primary">
  <span>Medical Score Calculator</span>
  <span class="fill-remaining-space"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu" mdTooltip="Change theme"><mat-icon>format_color_fill</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="changeTheme('default-theme')">Default</button>
    <button mat-menu-item (click)="changeTheme('black-theme')">Dark</button>
    <button mat-menu-item (click)="changeTheme('light-theme')">Light</button>
  </mat-menu>
</mat-toolbar>
