<mat-card>
  This is an example of a medical calculator that simply sums up a score of various conditions to give a total score.
</mat-card>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- criterion column -->
  <ng-container matColumnDef="criterion">
    <th mat-header-cell *matHeaderCellDef class="heading" colspan="2">CURB 65</th>
    <td mat-cell *matCellDef="let element">
      <mat-slide-toggle [checked]="element.value" (change)="setValue(element.key, $event)">
        {{element.name}}
      </mat-slide-toggle>
    </td>
  </ng-container>

  <!-- diagnoses column -->
  <ng-container matColumnDef="diagnoses">
    <td mat-footer-cell *matFooterCellDef colspan="2" class="diagnoses">
    <score-results [points]="score" [riskGroup]="pointsRiskGroupTreatmentHash[score].riskGroup" [treatment]="pointsRiskGroupTreatmentHash[score].treatment">
    </score-results>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="['diagnoses']" class="example-second-footer-row"></tr>
</table>